training_data_lowercase.csv
nlp_project_bruno.ipynb
Iron Hack Project NLP.pptx
nlp_project gradio.ipynb
model_tfidf.pkl
count_vectorizer.pkl
enhanced_model.joblib
model.joblib
nlp_project gradio_VS.ipynb
nlp_project_gradio_Colab.ipynb
data_test_news_only.csv
tfidf.joblib
flagged/log.csv
flagged/Classification Result/tmpmoxb7gta.json
flagged/Prediction/tmpwmyobh_f.json
nlp_project_gradio_Colab_Working.ipynb
nlp_project_testdataadded.ipynb
nlp_project.ipynb
nlp_project.ipynb
tfidf_vectorizer.pkl
nlp_project.ipynb
